

{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static "fossee4/index.css" %}">

<div class="container imageByid">

<form method="POST" action="/fossee4/ImagebyUser" enctype="multipart/form-data">
{% csrf_token %}
    <div class="form-group">
            <label>Enter the name of user(which you have entered in created by field):</label>
            <input class="form-control" name="user" type="text">
            <br>
            <button class="btn btn-primary"type="submit">
                submit
            </button>
    </div>
</form>

</div>