{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>FOSSEE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Amethysta' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static "fossee4/index.css" %}">
    <script src="{% static "fossee4/topnav.js" %}"></script>
</head>

<body>
    <div class="cursive">
        <br>
        <div>When I first got into technology I didn't really understand what open source was. Once I started writing software, I realized how important this would be.</div>
        <div > - Matt Mullenweg</div>
        <br>IITB FOSSEE Summer Fellowship 2019.<br>
        <a href="https://www.facebook.com/FOSSEENMEICT/" class="font"><i class="fa fa-facebook"
                style="font-size:25px  ; height: 30px; width: 30px;"></i> </a>

        <a href="https://github.com/FOSSEE/" class="font"><i class="fa fa-github"
                style="font-size:25px  ; height: 30px; width: 30px;"></i></a>
    </div>
    <br><br>

<div class="container" style="text-align: center"> <a href="{% url "fossee4:uploadImage" %}"
        class="btn btn-primary">upload Image</a></div><br><br><br>
<br>

<div class="container" style="text-align: center"> <a href="{% url "fossee4:getallImages" %}"
    class="btn btn-primary">get all Images</a></div><br><br><br>

<br>

<div class="container" style="text-align: center"> <a href="{% url "fossee4:ImagebyId" %}"
    class="btn btn-primary">get Image by id</a></div><br><br><br>

<br>

<div class="container" style="text-align: center"> <a href="{% url "fossee4:ImagebyUser" %}"
    class="btn btn-primary">get Image of particular user</a></div><br><br><br>

<br>

<div class="container" style="text-align: center"> <a href="{% url "fossee4:doImageUpdate" %}"
    class="btn btn-primary">update/Delete Image</a></div><br><br><br>



    <!-- top navigation bar begins         -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#!" onclick="callaboutme()" class="navbar-brand">About application</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li> <a href="#!" class="dropdown" onclick="callwhyfossee()">why-fossee</a></li>
                    <li> <a href="#!" onclick="callcontact()">My details</a></li>
                </ul>
            </div>
    </nav>
    <!-- top navigation bar ends -->

    <div class="container">
        <div class="main_content" style="font-family:Amethysta">
            <div id="demo">
                <div>About this project <br><br>
                    This web application is built on the top of django , developed as an assignment
                    for fossee 2019.<br>
                  It's an API for uploading,refering,updating images. </div>

            </div>
        </div>
    </div>
    <br><br>

    <body>